* {
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(./images/movie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 3rem;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 3rem 5rem;
  padding: 1rem;
}

.main-container #a8 {
  grid-area: 3 / 2 / 4 / 3;
}

.main-container #a9 {
  grid-area: 3 / 3 / 4 / 4;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  border-radius: 0.3rem;
}

.movie .heart {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.movie h3 {
  padding: 0.5rem;
}

.movie .heart i {
  color: red;
  transition: 0.2s ease-in-out;
}

.movie .btn-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: rgb(11, 226, 11);
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  font-size: 18px;
}

.movie .heart i:hover {
  font-size: 30px;
  background-color: rgb(240, 243, 238);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: xx-large;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 50px;
}

.navbarLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbarLinks li a {
  text-decoration: none;
  color: white;
  font-size: larger;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b3b1b1;
  height: 60px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 85%;
  height: 90vh;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.popupTitle {
  color: black;
  margin: 5px;
}

.popupDesc {
  color: black;
  display: flex;
  gap: 15%;
  justify-content: center;
  width: 100%;
}

.popupClose {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.commentContainer {
  color: black;
  margin-top: 10px;
}

.commentsTitle {
  margin-bottom: 10px;
}
