body {
  background-color: rgb(240, 243, 238);
}

.logo {
  font-size: xx-large;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-top: 50px;
}

.navbarLinks {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.navbarLinks li a {
  text-decoration: none;
  color: black;
  font-size: larger;
}
